body {
    background-color: #ddd;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a:link { color: #0000f0 ; }
a:visited { color: #0000f0 ; }
a {
    text-decoration: none;
}

.answerinput {
    margin: 1px;
    padding: 3px 10px 3px 10px;
}

.qinput {
    width: 500px;
    margin: 1px;
    padding: 3px 10px 3px 10px;
}

.check {
    padding: 2px 15px 2px 4px;
}

