<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <% require 'base64' %>
    <link rel="icon" type="image/png" href="data:image/png;base64,<%= Base64.encode64(File.read('src/favicon.png')).gsub("\n",'') %>">
    <style type="text/css">
      <%= File.read('src/episopass.css') %>
    </style>
    <title>EpisoPass</title>
  </head>
  
  <body>
    <div style="position: fixed; top: 0; left: 0; right: 0; z-index: 990; overflow: unset">
      <div style="padding:10px;background-color:#ffffff;">
	<div class='topmenu'>
	  <span id="descbutton"><div class='topmenuitem'>EpisoPass概要</div></span>
	  <span id="episopoolbutton"><div class='topmenuitem'>問題データベース編集</div></span>
	  <span id="editbutton"><div class='topmenuitem'>問題編集</div></span>
	  <span id="dasbutton"><div class='topmenuitem'>EpisoPassページ作成</div></span>
	</div>
	<hr>
      </div>
      <img src="data:image/png;base64,<%= Base64.encode64(File.read('src/episopass.png')).gsub("\n",'') %>"
	   height=40 style="position: fixed; top: 10px; left: 10px; right: 0; z-index: 990; overflow: unset;">
    </div>

    <div id="contents" style="width:95%;margin:auto;max-width:800px">
      <div id="description" style="display:none;">
	<h2>EpisoPass概要</h2>
	
	<ul>
	  <li><b>EpisoPass</b>&#8482; は、個人的な記憶から複雑なパスワードを生成するシステムです。</li>
	  <li>
	    たとえばこの<a href="http://pitecan.com/p/Amazon_masui@pitecan.com.html"><b>EpisoPassページ</b></a>の問題に正しく答えると
	    Amazonのパスワードが生成されます。
	  </li>
	  <li>
	    EpisoPassページのデータは<a href='#' onclick="editor.editor()"><b>問題編集</b></a>ページで作成します。
	  </li>
          <li>
	    上の<a href='#' onclick="editor.editor()"><b>問題編集</b></a>ボタンから編集ページに移動して問題を作成し、
	    <a href='#' onclick="dasmaker.dasmaker(data,editor.answer())"><b>EpisoPassページ作成</b></a>で<b>DASパタン</b>を指定してから「ダウンロード」をクリックすると、
	    パスワードを生成するためのEpisoPassページのHTMLファイル(<code>RunEpisoPass.html</code>)を取得できます。
	  </li>
	  <li>
	    DASとは「<a href="https://en.wikipedia.org/wiki/Draw_a_Secret">Draw-a-Secret</a>」の略で、
	    自分だけが知っている秘密のパタンのことです。
	    描きやすいDASパタンを登録するとEpisoPassページでの回答選択が楽になります。
	  </li>
	  <li>EpisoPassの詳細は<a href="https://Scrapbox.io/EpisoPass">Scrapbox</a>をご覧ください。</li>
	</ul>
	
	<h3>問題を簡単に作成する</h3>
	<ul>
	  <li><a href='#' onclick="episopool.episopool()"><b>問題データベース編集</b></a>メニューを選択すると、EpisoPass問題を作成するための問題データベースを作成できます。</li>
	  <li>問題データベース編集ページで回答リストと問題リストを作成しておくと、<a href='#' onclick="editor.editor()"><b>問題編集</b></a>メニューでそのデータを利用できます。</li>
	  <li>問題データベースデータはJSON型式のローカルファイルとしてセーブ/ロードできます。</li>
	  <li><a href="https://s3-ap-northeast-1.amazonaws.com/masui.org/1/f/1feba39d1db3047b9fd0771852c22e41.json">問題データベースデータの例</a></li>
	</ul>
	
	<h3>問題の再編集</h3>
	<ul>
	  <li>
	    EpisoPassページのHTMLを問題編集画面にDrag&amp;Dropすると
	    問題データを再編集できます。
	  </li>
	</ul>
	
	<h3>ネット接続</h3>
	<ul>
	  <li>
	    EpisoPassはWeb上のサーバやデータベースを利用しません。
	    EpisoPassページ作成時や問題データベース作成時にネット通信は行なわれません。
	  </li>
	  <li>
	    EpisoPassは<a href="https://EpisoPass.com/index.html">https://EpisoPass.com/index.html</a>という単一HTMLファイルで動作するので、
	    これをダウンロードすればローカルマシンのブラウザで開いて動かすことができます。
	  </li>
	</ul>
	
	<h3>ブラウザ拡張機能</h3>
	<ul>
	  <li>
	    <a href="https://github.com/masui/EpisoPassExtension">ブラウザ拡張機能</a>を利用すると
	    EpisoPassをブラウザのログイン画面で使えます。
	  </li>
	  <li>
	    <code>サービス名_アカウント名.html</code> という名前のEpisoPassページにアクセスすると
	    問題データがブラウザのローカルデータベースに保存され、
	    そのデータが拡張機能から参照可能になります。
	  </li>
	</ul>

	<h3>作者</h3>
	<ul>
	  <li><a href="https://ja.wikipedia.org/wiki/増井俊之">増井俊之</a></li>
	  <li>masui@pitecan.com</li>
	  <li><a href="https://twitter.com/masui">https://twitter.com/masui</a></li>
	</ul>
	
	<h3>ソース</h3>
	<ul>
	  <li><a href="https://github.com/masui/EpisoPass2021">https://github.com/masui/EpisoPass2021</a></li>
	</ul>
      </div>
      
      <div id="editor" style="display:none;"> <!-- 編集画面 -->
	<h2>問題編集<h2>

	<div style="font-size:18; width=600px;">
	  <b>Seed</b>: <input type="text" id="seed" class="seedpass" width=100>
	  <b>⇔</b>
	  <b>Password</b>: <input type="text" id="pass" class="seedpass" width=100>
	</div>
	<p></p>
	
	<div id="main">
	</div>
      </div>
      
      <div id="dasmaker" style="display:none;"> <!-- DAS作成画面 -->
	<span>作成画面</span>
      </div>
      
      <div id="das" style="display:none;"> <!-- 利用画面 -->
	<span>利用画面</span>
      </div>
      
      <div id="episopool" style="display:none;"> <!-- 簡単登録画面 -->
	<h2>問題データベース編集</h2>

	<ul>
	  <li>問題データベースを作っておくと簡単にEpisoPass問題を作れます。</li>
	  <li>問題データベースの編集/保存はローカルに実行されます。</li>
	  <li>問題データベースはブラウザに保存されるので前回作成したものを再利用できます。</li>
	</ul>

	<blockquote>
	  <form id="saveload">
	    <input type="button" value="データセーブ" onclick="episopool.JSONデータセーブ()" style="margin:3px;" />
	    ここで作成した問題と回答のリストをJSON型式でローカルファイルにセーブします
	    <br/>
            <input type="button" value="データロード" onclick="$('#fileload').click()"  style="margin:3px;"/>
	    問題データベースのJSONデータをローカルファイルから読み込みます
            <input type="file" id="fileload" style="display:none;" accept="text/json" onclick="episopool.JSONデータロード()">
	  </form>
	</blockquote>
	
	<h2>回答リスト</h2>
	  
	<ul>
	  <li>馴染みのある地名などを30個以上リストしてください。</li>
	</ul>
	
	<blockquote>
	  <form>
	    <input type="button" class="button" value="ランダムに県名を追加" onclick="episopool.ランダムに回答を追加(pool.県名リスト)">
	    <input type="button" class="button" value="ランダムに都市名を追加" onclick="episopool.重みづけランダムに都市を追加()">
	    <input type="button" class="button" value="ランダムに町名を追加" onclick="episopool.ランダムに回答を追加(pool.町名リスト)">
	    <input type="button" class="button" value="シャッフル" onclick="episopool.データシャッフル(pool.回答リスト); episopool.リスト表示({リスト:pool.回答リスト, フォームid:'answers', クラス:'answerinput', 改行あり:false});" >
	  </form>
      
	  <form id="answers">
	  </form>
	</blockquote>
	  

	<h2>問題リスト</h2>
    
	<ul>
	  <li>上のリストの項目のひとつを特定できる<b>秘密の問題</b>を10個以上用意してください</li>
	  <li>他人が知らない<b>事実</b>で、将来忘れないようなエピソードを書いて下さい。</li>
	</ul>
    
	<blockquote>
	  <form>
	    <input type="button" class="button" value="ランダムに問題を追加" onclick="episopool.ランダムに問題を追加()">
	    <input type="button" class="button" value="シャッフル"
		   onclick="episopool.データシャッフル(pool.問題リスト); episopool.リスト表示({リスト:pool.問題リスト, フォームid:'questions', クラス:'questioninput', 改行あり:true});" >
	  </form>
      
	  <form id="questions">
	  </form>
	</blockquote>

      </div>
    </div>

    <!--
	webpackで生成される「全部入り」のJS
	webpack.config.js で指定されている
      -->
    <script src="./dist/bundle.js"></script>
  </body>
</html>
